.form {
  padding: 5rem 2rem 2rem 2rem;
  width: 50rem;
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 3rem));
  align-items: center;
  justify-content: center;
  grid-column-gap: 3rem;
}
@media only screen and (max-width: 40em) {
  .form {
    width: 90vw;
  }
}
.form .title {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: bold;
}
.form .form-group {
  display: flex;
  flex-direction: column;
  min-height: 7rem;
  margin-bottom: 1rem;
}
.form .form-group .label {
  text-transform: capitalize;
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
}
.form .form-group .input {
  border: 0.1rem solid var(--border-color);
  padding: 0.7rem;
  border-radius: 0.3rem;
  position: relative;
}
.form .form-group .input::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.form .form-group .input:focus {
  outline: none;
}
.form .form-group .input:focus .form .form-group .input::after {
  border: 0.1rem solid var(--orange-button-color);
}
.form .form-group .input-group {
  display: flex;
  align-items: center;
  border-radius: 0.3rem;
  border: 0.1rem solid var(--border-color);
}
.form .form-group .input-group .input {
  flex: 0 0 90%;
  position: relative;
}
.form .form-group .input-group .input:focus {
  border: none;
  outline: none;
}
.form .form-group .input-group .input:focus .form .form-group .input-group .input::after {
  border: 0.1rem solid var(--orange-button-color) !important;
}
.form .form-group .input-group .input::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.form .form-group .input-group .input-two {
  border: none;
}
.form .form-group .input-group .input[type=file] {
  border: none;
}
.form .form-group .input-group .logo {
  flex: 0 0 10%;
  width: 2rem;
  height: 2rem;
}
.form .form-group .text {
  color: red;
  text-transform: capitalize;
}
.form .check-group {
  display: flex;
  flex-direction: column;
  height: 10rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.form .check-group .label {
  align-self: flex-start;
  font-size: 1.4rem;
  flex: 0 0 50%;
}
.form .check-group .radio-box {
  margin-left: 3rem;
  flex: 1;
  cursor: pointer;
  display: flex;
}
.form .check-group .radio-box .radio-one-box {
  flex: 0 0 50%;
}
.form .check-group .radio-box .radio-two-box {
  flex: 1;
}
.form .check-group .radio-box > * {
  display: flex;
}
.form .check-group .radio-box > *:not(:last-child) {
  margin-right: 3rem;
}
.form .check-group .radio-box > * label {
  font-size: 1.2rem;
  margin-left: 0.5rem;
  cursor: pointer;
  transform: translateY(-1rem);
}
.form .check-group .radio-box > * .radio-label {
  position: relative;
}
.form .check-group .radio-box > * .radio-label::after {
  content: "";
  position: absolute;
  top: -10%;
  left: -70%;
  width: 2.2rem;
  height: 2.2rem;
  border: 0.2rem solid var(--orange-button-color);
  border-radius: 50%;
}
.form .check-group .radio-box > * .radio-label::before {
  content: "";
  position: absolute;
  top: 0%;
  left: -60%;
  width: 1.3rem;
  height: 1.3rem;
  background-color: var(--orange-button-color);
  border-radius: 50%;
  visibility: hidden;
}
.form .check-group .radio-box > * input {
  display: none;
}
.form .check-group .radio-box > * input:checked ~ .radio-label::before {
  visibility: visible;
}
.form .check-group .text {
  color: red;
  text-transform: capitalize;
  flex: 0 0 100%;
}
.form .submit {
  color: var(--white-color);
  justify-self: flex-start;
  margin-left: auto;
  background-color: var(--orange-button-color);
  padding: 0.8rem 1.5rem;
  display: grid;
  place-items: center;
  font-size: 1.3rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 0.4rem;
}
.form .submit:hover {
  transform: translateY(-0.1rem);
}
.form .big {
  grid-column: 1/-1;
}/*# sourceMappingURL=Form.css.map */