@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;700&family=Roboto&display=swap");

/* font-family: 'Inter', sans-serif;
font-family: 'Roboto', sans-serif; */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --white-color: #ffffff;
  --border-color: #eaeaea;
  --background-color: #ffffff;
  --orange-button-color: #ff5c00;
  --blue-button-color: #0d019a;
  --green-button-color: #049a01;
  --text-dark-color: #242120;
  --text-light-color: #7d7987;
  --text-font: "Inter", sans-serif;
  --nav-font: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.4rem;
  color: var(--text-dark-color);
  display: grid;
  grid-template-columns:
    [full-start] minmax(7rem, 1fr) [col-start] repeat(
      8,
      minmax(min-content, 16rem)
    )
    [col-end] minmax(7rem, 1fr) [full-end];
  grid-template-rows: min-content;
  font-family: var(--text-font);
  overflow-x: hidden;
  background-color: var(--background-color);
}

#root {
  grid-column: full-start / full-end;
  overflow-x: hidden;
  background-color: var(--background-color);
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 55%;
  }
}
